nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    border-bottom: 1px ;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: black;
    font-weight: bold;
    font-size: 10px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #D9D9D9;
    transition: 0,5s;
}


.logo {
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}
